body{
    background-color: bisque;
    padding: 20px;
    font-family: Impact;
    color: navy;
}
a{
    color: navy;
}
input{
    font-size: 15px;
    font-family: Impact;
    color: brown;
}
form{
    font-size: 15px;
}
h2, h1, h3{
    letter-spacing: 3px;
}
img{
    border: 2px solid brown;
    box-shadow: 2px 2px 5px black;
    width: 200px;
    height: 280px;
}