<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link th:href="@{/css/indexAdmin.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Личный кабинет Администратора</h1>
    <br>
    <form method="post" th:action="@{/logout}" style="float: right">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" style="background-color: brown; color: bisque; border-radius: 3px; letter-spacing: 2px; border: 1px brown; margin: 5px; box-shadow: 2px 2px 5px black; padding: 5px; font-size: 18px">ВЫХОД из личного кабинета</button>
    </form><br><br>
    <form method="get" th:action="@{/admin/product/add}" style="float: left">
        <input type="submit" value="ДОБАВИТЬ товар" style="font-size: 25px; background-color: #0d0d59; color: bisque; border-radius: 5px; letter-spacing: 3px; border: 1px #0d0d59; padding: 10px; box-shadow: 2px 2px 5px black">
    </form>
    <br><br><br><br><hr>

    <div th:each="product : ${products}">
        <p th:text="'Наименование: '+ ${product.getTitle()}"></p>
        <p th:text="'Цена: '+ ${product.getPrice()}"></p>
        <p th:text="'Категория: '+ ${product.getCategory().getName()}"></p>
        <p th:text="'Описание: '+ ${product.getDescription()}"></p>
        <p th:text="'Продавец: '+ ${product.getSeller()}"></p>
        <p th:text="'Склад: '+ ${product.getWarehouse()}"></p>
        <form method="get" th:action="@{/admin/product/edit/{id}(id=${product.getId()})}">
            <input type="submit" value="РЕДАКТИРОВАТЬ товар" style="font-size: 18px; background-color: #0d0d59; color: bisque; border-radius: 5px; letter-spacing: 3px; border: 1px #0d0d59; padding: 10px; box-shadow: 2px 2px 5px black; float: left">
        </form><br>
        <form method="get" th:action="@{/admin/product/delete/{id}(id=${product.getId()})}">
            <input type="submit" value="УДАЛИТЬ товар" style="background-color: brown; color: bisque; border-radius: 3px; letter-spacing: 2px; border: 1px brown; margin: 5px; padding: 10px; box-shadow: 2px 2px 5px black; padding: 5px; font-size: 18px; float: right">
        </form>
    </div>

</body>
</html>