<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
  <h3>Приложение с использованием Spring Security</h3>

  <!--1 способ через форму сделать кнопку с указанием ссылки-->
  <form method="post" action="/logout">
      <button type="submit">ВЫХОД из личного кабинета</button>
  </form>

  <!--2 способ через script сделать кнопку с указанием ссылки -->
  <!--<script th:inline="javascript">
      var username = [[${user.getId()}]];
  </script>-->

  <!--Данная ссылка уже не будет работать -->
  <!--<a href="/logout">ВЫХОД из личного кабинета</a>-->
</body>
</html>