<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
  <h2>РЕГИСТРАЦИЯ</h2>
  <form method="post" th:action="@{/registration}" th:object="${person}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <label for="login">Введите логин: </label>
      <input type="text" th:field="*{login}" id="login">
      <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
      <br><br>
      <label for="password">Введите пароль: </label>
      <input type="password" th:field="*{password}" id="password">
      <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      <br><br>
      <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ"  style="font-size: 20px; background-color: #0d0d59; color: bisque; border-radius: 5px; letter-spacing: 3px; border: 1px #0d0d59; box-shadow: 2px 2px 5px black; padding: 5px">
  </form>
  <br><hr><br>
  <a href="/authentication"  style="font-size: 20px">ВХОД в личный кабинет</a>
  <br><br><hr>
  <a href="/product" style="font-size: 20px">Главная страница МАГАЗИНА</a>
  <br><br><hr>
  <!--<form method="get" th:action="@{/authentication}">
  <input type="submit" value="ВХОД в личный кабинет">
  </form>-->
</body>
</html>